node_modules
.DS_Store
dist
dist-ssr
# nextjs
.next
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.local
.env.*.local
.env.docker
.qodo
